body {
  font-family: 'Raleway', sans-serif;
  padding: 1em 2em;
  font-size: 18px;
  background: #f4f4f4;
  color: #191919;
  padding: 0;
  margin: 0;
}

.txt-rotate {
  color: #191919;
}

h1,
h2 {
  font-weight: 200;
  margin: 0.4em 0;
  text-align: center;
}

h1 {
  font-size: 3.5em;
}

h2 {
  color: #191919;
  font-size: 2em;
}

p {
  font-family: 'Raleway', sans-serif;
  padding: 1em 2em;
  font-size: 18px;
  background: #f4f4f4;
  color: #191919;
  text-align: center;
  line-height: 1.10em;
}


/* BUTTONS */

.middle {
  text-align: center;
}

.btn {
  display: inline-block;
  width: 90px;
  height: 90px;
  background: rgb(100, 100, 100);
  margin: 10px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #00000070;
  color: #191919;
  overflow: hidden;
  position: relative;
}

.btn i {
  line-height: 90px;
  font-size: 26px;
  transition: 0.2s linear;
}

.btn:hover i {
  transform: scale(1.3);
  color: #ADADAD;
}

.btn::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: rgb(153, 151, 151);
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}

.btn:hover::before {
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}

@keyframes aaa {
  0% {
    left: -110%;
    top: 90%;
  }

  50% {
    left: 10%;
    top: -30%;
  }

  100% {
    top: -10%;
    left: -10%;
  }
}

/* CAROUSEL */
.slidebtn {
  width: 2em;
}

#portfolio {
  color: #191919;
}

#contact {
  color: #191919;
}

body {
  text-align: center;
  font-size: 18px;
  background-size: cover;
  color: #f4f4f4;
  margin: 0;
  padding-top: 0;
}

h1 {
  font-size: 48px;
}

h4 {
  font-size: 24px;
  padding-bottom: 15px;
}

a {
  padding: 15px 25px;
  margin: 5px;
  background-color: #35baad;
  color: #f4f4f4;
  border-radius: 25px;
  text-decoration: none;
}



#mySlider {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 300px;
}

.singleSlide {

  background-size: cover;
  height: 300px;
  position: absolute;
  left: 100%;
  width: 100%;
  top: 0px;
}

.slideOverlay {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 50px;
}



#sliderNav {
  position: relative;
  top: -175px;
}

#sliderNav:hover {
  cursor: pointer;
}

#sliderPrev {
  position: relative;
  float: left;
  left: 50px;
}

#sliderNext {
  position: relative;
  float: right;
  right: 50px;
}



@-webkit-keyframes slideIn {
  100% {
    left: 0;
  }
}

@keyframes slideIn {
  100% {
    left: 0;
  }
}

.slideInRight {
  left: -100%;
  -webkit-animation: slideIn 1s forwards;
  animation: slideIn 1s forwards;
}

.slideInLeft {
  left: 100%;
  -webkit-animation: slideIn 1s forwards;
  animation: slideIn 1s forwards;
}

@-webkit-keyframes slideOutLeft {
  100% {
    left: -100%;
  }
}

@keyframes slideOutLeft {
  100% {
    left: -100%;
  }
}

.slideOutLeft {
  -webkit-animation: slideOutLeft 1s forwards;
  animation: slideOutLeft 1s forwards;
}

@-webkit-keyframes slideOutRight {
  100% {
    left: 100%;
  }
}

@keyframes slideOutRight {
  100% {
    left: 100%;
  }
}

.slideOutRight {
  -webkit-animation: slideOutRight 1s forwards;
  animation: slideOutRight 1s forwards;
}